#profile_cont{
    margin: auto;
    border-radius: 15px!important;
    width: 280px;
    z-index: 3;
    position: fixed!important;
    top: 5%;
    overflow-y: hidden;
    overflow-x: hidden;
    right: 47px;
    .img-cont{
        width: fit-content;
    }
    .collapsing{
        height: 0px!important;
    }
}
.btn-toggle{
    width: 42px;
    height: 42px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: var(--bs-warning);
    font-size: 35px;
    border: 0px;
    border-radius: 50%;
    -webkit-text-stroke: 1px #000;
    color: var(--bs-light);
    position: fixed;
    top: 42%;
    right: 5px;
    z-index: 4;
}